@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
  font-style: normal;
  overflow-x: hidden;
  background-color: #02060D;
  color: #ffffff;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;

}

#root {
  display: flex;
  flex-direction: column;
}


.dark-notification .ant-notification-notice-message,
.dark-notification .ant-notification-notice-description {
  color: #ffffff !important;
}

@keyframes like-beat {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }
}

.animate-like {
  animation: like-beat 0.5s ease;
}
