
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
<<<<<<< HEAD
  background-color: #5f5d7b ;
=======
>>>>>>> 67da99468c255a1a24629be3db8f6219102194f8
}





